.ipynb_checkpoints
log/
Model_Files/
Data_Files/
.RData
.RHistory
pyimagesearch/Object-NotObject/images/
pyimagesearch/Object-NotObject/examples/
.vscode
word2vec-nlp-tutorial/
300features_40minwords_10context
__pycache__
*.db
test.from
test.to
train.from
train.to
reddit_data/
SentDex/TensorFlow-Object-Detection-API/models/
SentDex/Unconventional-Neural-Networks/char-rnn-tensorflow-master/
